/*
1. config
2. mixins
3. plugins
4. base
5. components
6. header
7. footer
8. pages
9. demo
*/

@use "sass:meta";
/* 1. config */
@import 'config/variables';

$primary-color: #d53f31;
$secondary-color: #a7372b;

$second-font-family: 'Oswald', sans-serif;

/* 2. mixins */
@import 'mixins/breakpoints'; 
@import 'mixins/core';
@import 'mixins/buttons';

//Demo variables
@import 'style_config';

/* 3. plugins */
@import 'components/slider';
@import 'components/nouislider';

/* 4. base */
@import 'base/base';
@import 'base/helper';
@import 'base/type';
@import 'base/layout';
@import 'base/grid';
@import 'base/spacing';

/* 5, components */
@import 'components/accordion';
@import 'components/alerts';
@import 'components/animation';
@import 'components/banners';
@import 'components/blog';
@import 'components/buttons';
@import 'components/categories';
@import 'components/comments';
@import 'components/counter';
@import 'components/elements';
@import 'components/font-icons';
@import 'components/forms';
@import 'components/icon-boxes';
@import 'components/icons';
@import 'components/instagram';
@import 'components/member';
//@import 'components/minipopup';
//@import 'components/overlay';
@import 'components/page-header';
@import 'components/pagination';
//@import 'components/popups';
@import 'components/products';
@import 'components/product-single';
@import 'components/social-icons';
@import 'components/sidebar';
@import 'components/sidebar-shop';
@import 'components/store';
@import 'components/tabs';
//@import 'components/testimonials';
//@import 'components/tooltip';
@import 'components/titles';
@import 'components/vendor';
@import 'components/widgets';

/* 6. header */
@import 'base/header/header';
@import 'base/header/dropdown';
@import 'base/header/menu';

/* 7. footer */
@import 'base/footer/footer';

/* 8. Pages */
//@import 'pages/about';
@import 'pages/account';   
@import 'pages/buttons';
@import 'pages/categories';
//@import 'pages/coming';
@import 'pages/contact';
//@import 'pages/error';
@import 'pages/products';
@import 'pages/cta';
//@import 'pages/instagrams';
@import 'pages/blog';
@import 'pages/shop';
@import 'pages/product-single';
@import 'pages/post-single';
@import 'pages/wishlist';
@import 'pages/cart';
@import 'pages/checkout';
@import 'pages/order';
@import 'pages/icons';
//@import 'pages/faq';

/* 9. Demos */
@import 'style_custom';

// Customer Forms
.account {
  .nav-tabs {
    border-right: none;
  }

  .tab-pane {
    padding: 0 0 0 2em;
  }

  .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2em;
  }

  .header, .form-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .header.secondary-header {
    margin-top: 2rem;
  }

  .btn {
    color: $white-color;
    border: 2px solid $secondary-color;
    background-color: $secondary-color;
    display: inline-block;
    outline: 0;
    border-radius: 0;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.025em;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: color .3s, border-color .3s, background-color .3s, box-shadow .3s;
    white-space: nowrap;
    cursor: pointer;

    &.btn-link {
      background: none;
      color: $secondary-color;
      border:none;
      padding: 1em 0;
    }
  }

  fieldset {
    border: none;
    margin: 2rem 0;
  }

  .form-field {
    margin-bottom: 2rem;

    [for="Notes"]{
      padding-top: 1.5rem;
    }
  }

  .form-input {
    font-size: 1.3rem;
    font-family: Poppins,sans-serif;
    transition: background-color .3s, border-color .3s;
    color: black;
    display: block;
    width: 100%;
    min-height: 4rem;
    padding: .85rem 2rem;
    border: 1px solid $border-color;
    line-height: 1.5;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
  }

  .shipping-addresses-list {
    ul {
      list-style: none;

      li {
        background: #f6f7f9;
        border: 1px solid $border-color;
        padding: 1em 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .badge {
          background: $secondary-color;
          padding: .3em .75em;
          border-radius: 1em;
          font-size: 8pt;
          color: $white-color;
          margin-right: .5em;
        }
      }
    }
  }
}

.loyalty-points{
  line-height: 1.4;

  small{
    color: $grey-color;
  }

  strong{
    color: $primary-color;
  }
}

.color-swatch {
  .swatch {
    display: block;
    width: 25px;
    height: 25px;
    border: solid 2px #FFF;
    @include border_radius(50%);
    cursor: pointer;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + .swatch {
    @include box_shadow(0 0 0 1px #242424);
  }
}

.cart_bottom_sec{
  flex-basis: auto;
  margin-top:  auto;
}

.additional-controls {
  margin-top: 2rem;

  .btn {
    border: solid 1px #ddd;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    margin: .5rem 10%;
    position: relative;
    height: 50px;
    opacity: 0.7;
    padding-left: 40px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 900;
    overflow: hidden;
    background-color: $white-color;

    &:hover {
      opacity: 1;
    }
  ;

    &.btn-facebook:before, &.btn-google:before {
      content: "";
      background-repeat: no-repeat;
      background-position: left 0 center;
      background-size: 100% 100%;
      position: absolute;
      left: -2px;
      top: -2px;
      width: 54px;
      height: 54px;
    }

    &.btn-facebook:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 542.2 542.2'%3E%3Ctitle%3E406210-PD16KK-870%3C/title%3E%3Cg id='OBJECTS'%3E%3Cpath d='M457.8-21.1H42.2A63.2,63.2,0,0,0-21.1,42.2V457.8a63.2,63.2,0,0,0,63.3,63.3H457.8a63.2,63.2,0,0,0,63.3-63.3V42.2A63.2,63.2,0,0,0,457.8-21.1ZM357.2,118.5H303.9A21,21,0,0,0,283,139.4v58.1h74.2L345.6,272H283V459.3H205.3V272H142.8V197.5h62.5V139.4a98.8,98.8,0,0,1,98.6-98.7h53.3Z' transform='translate(21.1 21.1)' style='fill:%233b5998'/%3E%3C/g%3E%3C/svg%3E");
    }

    &.btn-google:before {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 533.5 544.3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z' fill='%234285f4'/%3E%3Cpath d='M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z' fill='%2334a853'/%3E%3Cpath d='M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z' fill='%23fbbc04'/%3E%3Cpath d='M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z' fill='%23ea4335'/%3E%3C/svg%3E");
    }
  }
}

.mobile-form{
  z-index: 150;
}